<img id="proff" src="./images/<%= user.photo %>" alt="" />
<h3><%= user.name %></h3>
<h4>@<%= user.username %></h4>
<div class="follow-wrapper">
	<a href=""><%= user.followers.length %> Followers</a>
	<a href=""><%= user.followers.length %> Following</a>
</div>
