<div class="profile-body">
	<div class="profile-wraper">
		<div class="profile-info">
			<div class="user info"><%- include ("layouts/profile.ejs") %></div>
			<hr />
			<div class="user-menu"><%- include ("layouts/menu.ejs") %></div>
		</div>
		<div class="profile-box">
			<div class="box-content">
				<h2>Friends List</h2>
				<% if (message) { %>
				<p><%= message %></p>
				<% } %>
				<div class="friends-wrapper">
					<!-- single item -->
					<% users.forEach(element => { %>
					<div class="friend-item">
						<a href="/<%= element.username %>"
							><img src="./images/<%= element.photo %>" alt=""
						/></a>
						<div class="friend-info">
							<h3><%= element.name %></h3>
							<% let follow = user.following.some(data=> data == element.id) %>
							<% if (follow) { %>
							<a class="unfollow" href="/unfollow/<%= element.id %>">Unfollow</a>
							<% }else{ %>
							<a class="follow" href="/follow/<%= element.id %>">Follow</a>
							<% } %>
						</div>
					</div>
					<% }) %>

					<!-- end single item -->
				</div>
			</div>
		</div>
	</div>
</div>
